# Python
*.pyc
__pycache__/
env/
venv/
db.sqlite3
.coverage
htmlcov/
.cache/
.pytest_cache/

# Node.js
node_modules/

# Env
.env
.env.local

# Vercel
.vercel/

# Django static files
staticfiles/
assets/
